[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dogemigos = {editable = true, path = "."}
# Private project
w3f = {editable = true, path = "../w3f"}

[dev-packages]
pylint = "*"
pytest  = "*"
pytest-cov = "*"
pytest-xdist = "*"
twine = "*"
atomicwrites = {version = "*", markers = "sys_platform == 'win32'"}
build = {version = "*", extras = ["virtualenv"]}
myst-parser = {version = "*", extras = ["linkify"]}
pyproject-flake8 = "*"
black = "*"
isort = "*"
ipykernel = "*"

[requires]
python_version = "3"
